{
  "run_list": [ "recipe[{{ cookbook_name }}]" ],
  "package": {
    "public_attributes": true
  },
  "postgresql": {
    "auto_restart_on_version_change": false
  },
  "gitlab": {
    "geo-postgresql": {
      "auto_restart_on_version_change": false
    }
  }
}
